@use './font' as *;
@use './variables' as *;
@use "./media.scss" as *;
@mixin mobile-page-header{
    font-size: 24px;
    line-height: 32px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
}
@mixin mobile-section-header{
    font-size: 12px;
    line-height: 20px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
}
@mixin mobile-subheader{
    font-size: 13px;
    line-height: 18px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
}
@mixin mobile-body-copy{
    font-size: 13px;
    line-height: 18px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 400;
}
@mixin mobile-lable-button{
    font-size: 10px;
    line-height: 20px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
}
@mixin desk-page-header{
    font-size: 33px;
    line-height: 44px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
}
@mixin desk-section-header{
    font-size: 12px;
    line-height: 20px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
}
@mixin desk-subheader{
    font-size: 14px;
    line-height: 22px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
}
@mixin desk-body-copy{
    font-size: 14px;
    line-height: 22px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 400;
}

@mixin desk-lable-button{
    font-size: 12px;
    line-height: 20px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
}

@mixin button-effect{
    height: 2.25rem;
    width: 100%;
    background-color: $Button-Color;
    border-radius: 20px;
    font-size: large;
    color: #fff;
    @include tablet{
        width: 10rem;
        
        margin-top: 1rem;
    }
    &:hover{
        background-color: $Dark-Color;
        cursor: pointer;
    }
}

