@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/media.scss" as *;
@use "../../styles/partials/mixin.scss" as *;
.job-description{
    padding: 1rem;
    
    @include tablet{
        padding: 1rem 2.25rem;
    }
    @include desktop{
        padding: 1rem 4rem;
    }
    &__title{
        font-size: large;
        margin: 0;
        text-align: center;
    }
    &__input{
        display: block;
        width: 100%;
        height: 8rem;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 20px;
        @include tablet{
            
            width: 70%;
            height: calc(21vw - 1.05rem);
        }
        @include desktop{
            
            width: 80%;
            height: calc(24vw - 1.2rem);
        }
    }
    &__error{
        margin: 1rem auto;
        padding: 1rem;
        @include tablet{
            width: 70%
        }
        @include desktop{
            width: 80%;
        }
    }
    &__btn{
        @include button-effect;
        display: block;
        
        margin: 1rem auto;
    }
}