@use "../../styles/partials/media.scss" as *;
@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.resume{
    &__title{
        margin: 0;
        padding: 1rem;
        padding-bottom: 0;
        text-transform: uppercase;
    }
    &__body{
        display: flex;
        flex-wrap: wrap;
        & > *{
            @include tablet{
                width: 50%;
            }
        }
    }
    &__content{
        padding: 0 1rem;
        margin:  0;
    }
    &__subtitle{
        padding: 0 1rem;
        &--small{
            padding-bottom: 1rem;
        }
    }
    
    &__divid-bar{
        margin: 1rem 0;
        @include tablet{
            display: none;
        }
        &--section{
            display: none;
            @include tablet{
                display: block;
                width: 100%;
            }
        }
    }
    &__btn{
        @include button-effect;
        width: calc(100% - 2rem);
        margin: 1rem;
        @include tablet{
            margin-left: calc(50% - 5rem);
        }
    }
}