@use "../../styles/partials/media.scss" as *;
@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
.user{
    &__label{
        @include mobile-page-header;
        @include tablet{
            @include desk-page-header;
        }
    }
    &__input{
        display: block;
        margin: 1rem 0;
        height: 2.25rem;
        border-radius: 20px;
        padding: 1rem;
        width: 100%;
        @include tablet{
            width: 21rem;
        }
        &:focus{
            border: 2px solid black;
            outline: none;
        }
    }
    &__btn{
        height: 2.25rem;
        width: 100%;
        background-color: $Button-Color;
        border-radius: 20px;
        font-size: large;
        color: #fff;
        @include tablet{
            width: 10rem;
            // margin-left: 5rem;
            margin-top: 1rem;
        }
        &:hover{
            background-color: $Dark-Color;
            cursor: pointer;
        }
    }
}