@use "../../styles/partials/media.scss" as *;
@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
.user{
    background-color: #fff;
    height: 20rem;
    border-radius: 20px;
    max-width: 43rem;
    margin: 1rem auto;
    
    @include tablet{
        margin: 2.25rem auto;
    }
    @include desktop{
        margin: 5rem auto;
    }
    &__form{
        padding: 1rem;
    }
    &__label{
        @include mobile-page-header;
        @include tablet{
            @include desk-page-header;
        }
        display: block;
        text-align: center;
        
    }
    &__input{
        display: block;
        margin: 1rem;
        height: 2.25rem;
        border-radius: 20px;
        padding: 1rem;
        width: calc(100% - 2rem);
        @include tablet{
            width: 23rem;
            margin-left: calc(50% - 11.5rem);
        }
        &:focus{
            border: 2px solid black;
            outline: none;
        }
    }
    &__buttons{
        text-align: center;
    }
    &__btn{
        height: 2.25rem;
        width: calc(100% - 2rem);
        margin: 1rem;
        background-color: $Button-Color;
        border-radius: 20px;
        font-size: large;
        color: #fff;
        @include tablet{
            width: 11rem;
            
            margin-top: 1rem;
        }
        &:hover{
            background-color: $Dark-Color;
            cursor: pointer;
        }
    }
    &__error{
        width: calc(100% - 2rem);
        margin: 1rem;
        
        @include tablet{
            width: 23rem;
            margin-left: calc(50% - 11.5rem);
            margin-bottom: 0;
        }
    }
}