@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/media.scss" as *;
.tailor{
    background-color: $Light-Color;
    margin-top: 0;
    border-radius: 20px;
    &__title{
        margin: 0;
        padding: 1rem;
        text-align: center;
        @include tablet{
            padding: 1rem 2.25rem;
        }
        @include desktop{
            padding: 1rem 4rem;
        }
    }
    
    &__content{
        padding-bottom: 1rem;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        &--left{
            width: 100%;
            @include desktop{
                width:  29%;
            }
        }
        &--right{
            width: calc(100% - 2rem);
            height: 90vw;
            margin: 1rem auto;
            border-radius: 20px;
            @include tablet{
                width: calc(100% - 5rem);
            }
            @include desktop{
                width: 60%;
                height: 70rem;
            }
        }
        
    }
    &__divid-bar{
        width: 100%;
        @include desktop{
            width: 1px;
        }
    }
    
}