@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/media.scss" as *;

.nav-bar{
    background-color: $Dark-Color;
    height: 15rem;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include tablet{
        padding: 0 2.25rem;
    }
    @include desktop{
        padding: 0 10vw;
    }
    &__logo{
        width: 9rem;
        height: 9rem;        
        margin: auto;
        @include tablet{
           margin: 0;
        }
        &--img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    &__link{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        @include tablet{
            
            width: 50%;
            max-width: 27.5rem;
        }
        &--body{
            background-color: $Light-Color;
            width: 30%;
            height: 2rem;
            text-decoration: none;
            color: black;
            border-radius: 20px;
            padding-top: 0.5rem;
            cursor: pointer;
            &:hover{
                background-color: $Button-Color;
            }
        }
        
    }
}
.active{
    background-color: $Primary-Color;
    font-weight: bold;
}