@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/media.scss" as *;
@use "../../styles/partials/mixin.scss" as *;
.resume{
    background-color: $Light-Color;
    margin-top: 0;
    &-form{
        &__title{
            margin: 0;
            padding: 1rem;
        }
        &__bar{
            margin: 0.5rem 0;
            @include tablet{
                display: none;
            }
            &--section{
                display: none;
                @include tablet{
                    display: block;
                    margin: 0.5rem 0;
                }
            }
        }
        &__row{
            display: flex;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            & > *{
                width: 100%;
            }
        }
        &__label{
            height: 2rem;
            margin: 1rem;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &--large{
                height: 5rem;
            }
            &--link{
                margin-bottom: 0;
            }
        }
        &__input{
            border-radius: 20px;
            padding: 0.5rem;
            margin: 0.5rem;
            margin-top: 0;
            width: 60%;
            &--large{
                height: 5rem
            }
        }
        &__btn{
            @include button-effect;
            margin: 0 1rem;
            width: calc(100% - 2rem);
            &--large{
                margin: 1rem;
                height: 4rem;
            }
        }
        &__list{
            padding-left: 1rem;
        }
    }
}